.productAll {
    background-color: #fff;
    font-family: 'Manrope';
    width: 1408px;
}

.productAll-blocks:first-child {
    position: relative;
    bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    color: #fff;
    margin-bottom: 80px;
}

.subtitle-productAll {
    position: relative;
    font-size: 32px;
}

.title-productAll {
    font-size: 64px;
}

.productAll-blocks {
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 32px;
    font-size: 32px;
    padding: 0 5%;
}

.productAll-blocks:nth-child(2) {
    position: relative;
    top: 20px;
}

.productAll-blocks:nth-child(3) {
    position: relative;
    top: 50px;

}
.productAll-blocks:nth-child(4) {
    position: relative;
    top: 50px;
    padding-bottom: 80px;
}

.productAll-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 80px;
    color: #000000;
}

.productAll-blocks:nth-child(3) {
    width: 1408px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 130px;
    padding-bottom: 120px;
    position: relative; 
}

