.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 0px 5%;
}
.feedback-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
