.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 32px;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    font-family: 'Manrope';
    font-weight: 600;
}

.info-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-block:first-child {
    position: relative;
    bottom: 160px;
}

.info-block:nth-child(2) {
    position: relative;
    bottom: 90px;
}

.info-block:nth-child(3) {
    position: relative;
    bottom: 40px;
}

.cards {
    display: flex;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.title {
    text-align: center;
    font-size: 48px;
    font-family: 'Manrope';
    font-weight: 600;
}

.subtitle {
    text-align: center;
    font-size: 32px;
    line-height: 48px;
}

.text {
    width: 90%;
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    line-height: 40px;
    font-family: 'Manrope';
    font-weight: 400;
}

.fadeInUp::before {
    opacity: 0;
    transition: all 0.5s 0.5s ease-out;
}

.fadeInUp {
    opacity: 1;
    animation: fadeInUp;
    animation-duration: 1s;
}

.zoomIn {
    opacity: 1;
    animation: zoomIn;
    animation-duration: 1s;
}
