.delivery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    column-gap: 35px;
}

.delivery-block:first-child {
    position: relative;
    bottom: 190px;
}

.delivery-block:nth-child(2) {
    position: relative;
    bottom: 160px;
}

.delivery-block:nth-child(3) {
    position: relative;
    bottom: 110px;
}

.wholesale {
    position: relative;
    bottom: 60px;
}

.delivery-block:nth-child(4) {
    margin-top: 40px;
}

.del {
    width: 1408px;
    padding: 0px 5%;
}

.wholesale {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
    background-color: #474a51;
    color: #fff;
    width: 90%;
    height: 350px;
    padding: 0px 5%;
}

.wholesale-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    font-family: 'Manrope';
    font-weight: 600;
}
