.product-block {
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.product-block:first-child {
    padding-top: 0px;
}
